body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: Lexend;
    background: #355070;
}

p {
    width: 60vw;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    background: gray;
    padding: 3vh 3vw 3vh 3vw;
    border-radius: 15px;
    line-height: 5vh;
    background: #6d597a;
    color: #eaac8b;
    border: 5px #b56576 solid;
    font-size: 2vw;
}

button {
    font-family: inherit;
    background: #e56b6f;
    color: #355070;
    border: #eaac8b 2px solid;
    border-radius: 5px;
    border-top-left-radius: 0px;
    font-size: inherit;
    position: absolute;
    left: 0%;
    top: 0%;
    transition: all 0.3s;
}

button:hover {
    background: #b56576;
    color: #eaac8b;
    border-color: #6d597a;
}

@media only screen and (max-width: 768px) and (orientation: portrait) {

    p {
        font-size: 4vw;
        line-height: 3vh;
        width: 80vw;
    }

}